<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - Memory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">

    <h2>Reset Password</h2>
    {% if error_message %}
    <div id="reset_password_error" style="color: red;">{{ error_message }}</div>
    {% else %}

    <form id="resetPasswordForm" method="POST">
        <div>
            <label for="password">New Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirm_password" required>
        </div>
        <div>
            <input type="submit" value="Reset Password">
        </div>
    </form>
    <div id="reset_password_message"></div>
    {% endif %}

<script src="{{ url_for('static', filename='js/reset_password.js')}}"></script>
</body>
</html>
